.bp-component-capex-button{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    width: 260px;
    height: 48px;
    border-radius: 4px;
    padding: 12px, 42px, 12px, 42px;
    margin-top: 12.5px;
    background-color: #7459D9!important;
    color: #ffffff!important;
}

.bp-component-capex-button:hover{
    background-color: #5F49B3!important;
}

.bp-component-city-filter-bar{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    width: 100%;
    height: 48px;
}

.bp-component-display-flex-end{
    display: flex;
    justify-content: flex-end;
}
