.dl-component-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}

.dl-component-description{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}

.dl-component-capex-button{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    width: 260px;
    height: 48px;
    border-radius: 4px;
    padding: 12px, 42px, 12px, 42px;
    margin-top: 12.5px;
}

.dl-component-search-button{
    width: 191px;
    height: 48px;
}

.dl-component-search-bar{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    width: 100%;
    height: 48px;
    background-color: rgba(240, 242, 245, 0.5);
}

.dl-component-select{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    height: 48px;
    width: 100%;
    color: #65676B!important;
}

.dl-component-table-container{
    margin-top: 15px;
    width: 100%;
    height: 400px;
}

.dl-component-city-filter-bar{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    width: 100%;
    height: 48px;
}

.dl-component-inline{
    display: flex;
}

.dl-component-manage-buttons{
    height: 32px;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #F0F2F5;
}

.dl-component-manage-buttons-text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #65676B;
}

.dl-component-manage-buttons-icon{
    color: #65676B;
}