html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.topnav-shadow {
    box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 14%), 0px 0px 0px 0px rgb(0 0 0 / 0%), 10px 30px 1px 0px rgb(0 0 0 / 2%), 0px 0px 0px 0px rgb(0 0 0 / 14%);
}

* {
	box-sizing: border-box;
}
