.centered-modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-style{
    min-width: 800px;
    min-height: 600px;
    padding: 35px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff;
}

.modal-form-style{
    padding: 35px;
}

.modal-submit-button{
    background-color: #E3DEF7 !important;
    color: #7459D9 !important;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 18px;
    width: 48px;
    margin-top: 15px !important;
    padding: 12px 42px;
    text-transform: none !important;
}

.modal-cancel-button{
    background-color: #EEEEEE!important;
    color: #595959 !important;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 18px;
    margin-top: 15px !important;
    margin-right: 10px !important;
    padding: 12px 42px;
    text-transform: none !important;
}

.modal-price-range-maxHeight{
    overflow-y: scroll !important;
    max-height: 370px;
    overflow-x: hidden;
}

.modal-add-button{
    background-color: #EEEEEE!important;
    color: #65676B !important;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 18px;
    margin-top: 15px !important;
    margin-right: 10px !important;
    padding: 12px 42px;
    text-transform: none !important;
}