.pd-component-select{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    height: 40px;
    width: 100%;
}

.pd-component-padding-grid{
    padding-left: 30px!important;
    padding-right: 30px!important;
}

.pd-component-padding-grid-additional-margin{
    margin-top: 0px!important;
}

.pd-component-margin-labels{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 10px;
    margin-top: 0;
}

.pd-component-currency-text{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0!important;
}

.acb-component-header{
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.acb-component-header-title{
    font-family: 'Poppins', sans-serif;
    font-size: 24px!important;
    font-weight: 600;
    font-style: normal;
    line-height: 28px;
}

.acb-component-header-button-save{
    padding: 12px 42px;
    margin-top: 8px!important;
    height: 48px;
    width: 130px;
    background: #F8F9FE!important;
    border-radius: 4px;

    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #65676B!important;
    margin-right: 10px!important;
}

.acb-component-header-button-download{
    padding: 12px 42px;
    height: 48px;
    margin-top: 8px!important;
    background: #F8F9FE!important;
    border-radius: 4px;
    width: 255px;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #D0D2D0!important;
    margin-right: 10px!important;
}

.acb-component-header-flex-end{
    display: flex;
    justify-content: flex-end;
}

.acb-component-footer-buttons{
    width: 126px;
    height: 48px;
    padding: 12px 42px;
    background-color: #E3DEF7!important;
    border-radius: 4px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600!important;
    font-size: 18px!important;
    line-height: 24px;
    text-transform: none!important;
    color: #7459D9!important;
}